.fontshow{
    border: 1px solid #CCCED7;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    font-size:16px;
    text-align:center;
}
.pattern{
	dislay: block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: #fff;
	margin: 0px 6px 6px 0;
 }
 form#configuration_form{ background-color:#ebedf4; border:1px solid #ccced7; min-height:404px; padding: 5px 10px 10px; margin-left:140px;}
 .delete_image{display:block;}
 .img_preview{max-height: 200px;}
 .parttern_wrap{display:inline-block;position:relative;width: 60px;height:60px;overflow:hidden;margin-right:3px;}
 .parttern_wrap span{position:absolute;left:0;top:0;color:#333;display:inline-block;background:#fff;padding:2px;}
#_form.stthemeeditor fieldset{display:none;}
#_form.stthemeeditor fieldset.selected{display:block;}
#_form.stthemeeditor br{display:none;}
.st_tabs li{float:left;}
.st_tabs li a{display:inline-block;padding:10px 6px;background:#FAFAFA;border: 1px solid #CCCED7;border-right:none;font-size:14px;font-weight:normal;margin-bottom:-1px;}
.st_tabs li:last-child a{border-right: 1px solid #CCCED7;}
.st_tabs li a:hover,
.st_tabs li.selected a{background:#EBEDF4;border-bottom-color:#EBEDF4;}