.list_view #product_list .ajax_add_to_cart_button,.btn_primary,.list_view #product_list .view_button,#buy_block .content_prices span.exclusive{font-family: "Fjalla One", Tahoma, sans-serif, Arial;}.style_wide .ma_level_1{font-family: "Fjalla One"}.block .title_block,.idTabs a,.product_accordion_title,.heading,#pc_slider_tabs a{font-weight: normal;text-transform: uppercase;font-family: "Fjalla One";}#st_mega_menu .ma_level_0{font-weight: normal;text-transform: uppercase;font-family: "Fjalla One";font-family: "Fjalla One";}#stmobilemenu .ma_level_0{font-weight: normal;text-transform: uppercase;font-family: "Fjalla One";font-family: "Fjalla One";}#rightbar{top:auto; bottom:40%;}.list_view #product_list .ajax_add_to_cart_button:hover,
input.button_mini.btn_primary:hover, input.button_small.btn_primary:hover, input.button.btn_primary:hover, input.button_large.btn_primary:hover,
input.exclusive_mini.btn_primary:hover, input.exclusive_small.btn_primary:hover, input.exclusive.btn_primary:hover, input.exclusive_large.btn_primary:hover,
a.button_mini.btn_primary:hover, a.button_small.btn_primary:hover, a.button.btn_primary:hover, a.button_large.btn_primary:hover,
a.exclusive_mini.btn_primary:hover, a.exclusive_small.btn_primary:hover, a.exclusive.btn_primary:hover, a.exclusive_large.btn_primary:hover,.itemlist_action a.exclusive:hover{background-color: ;border-color:;}#footer a:hover{color:#00A161;}#footer_info{background-position: right top;}