/**************************
*
*	GENERAL
*
*************************
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
*/
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
    overflow:hidden;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption_box.left_bottom,
.camera_caption_box.right_bottom,
.camera_caption_box.left_top,
.camera_caption_box.right_top,
.camera_caption_box.left_center,
.camera_caption_box.center_center .camera_caption_inner,
.camera_caption_box.right_center{
    margin:30px;
    width:500px;
}

.camera_caption_box.left_bottom,
.camera_caption_box.left_top,
.camera_caption_box.left_center
{
    margin-left:120px;
}
.camera_caption_box.right_bottom,
.camera_caption_box.right_top,
.camera_caption_box.right_center
{
    margin-right:120px;    
}
.camera_caption_box h1{font-size:3.2em;}
.camera_caption_box h2{font-size:2.6em;}
.camera_caption_box h3{font-size:1.8em;}

.camera_caption_box h1,.camera_caption_box h2,.camera_caption_box h3{
    display:inline-block;
    float: left;
    clear: both;
    padding:2px 0.3em;
    margin-bottom:0.2em;
}

.camera_caption_box p{
    display:inline-block;
    float: left;
    clear: both;
    padding:0.3em;
    margin-bottom:0.1em;
    font-size:1.166em;
}
.camera_caption_box.text-right h1,.camera_caption_box.text-right h2,.camera_caption_box.text-right h3,.camera_caption_box.text-right p{float:right;}

.camera_caption_box.left_bottom{
	position: absolute;
    bottom:0;
}
.camera_caption_box.right_bottom{
	position: absolute;
    bottom:0;
    width:;
}
.camera_caption_box.left_top{
	position: absolute;
    top:0;
}
.camera_caption_box.right_top{
	position: absolute;
    top:0;
}
.camera_caption_box.center_center{
	position: absolute;
    top:20%;
}
.camera_caption_box.center_center .camera_caption_inner{
margin:0 auto!important;
}
.camera_caption_box.left_center{
	position: absolute;
    top:20%;
}
.camera_caption_box.right_center{
	position: absolute;
    top:20%;
}
.camera_caption_box.right_bottom,.camera_caption_box.right_top,.camera_caption_box.right_center{width:450px;padding-left:460px;}

.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	background: url(../images/camera_skins.png) no-repeat -160px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	background: url(../images/camera_skins.png) no-repeat -190px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 8px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	position: absolute;
	top: 50%;
	z-index: 2;
}
.camera_prev {
	left: 50px;opacity: 0.3;filter:alpha(opacity=30);
}
.camera_next.hoverd,
.camera_prev.hoverd {
	opacity: 1;filter:alpha(opacity=100);
}
.camera_prev > span {
	background: url(../images/camera_skins.png) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_next {
	right: 50px;opacity: 0.3;filter:alpha(opacity=30);
}
.camera_next > span {
	background: url(../images/camera_skins.png) no-repeat -40px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	background: url(../images/camera_skins.png) no-repeat -80px 0;
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	background: url(../images/camera_skins.png) no-repeat -120px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-indent: -9999px;
	width: 16px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
	background: url(../images/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
	background: url(../images/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
	background: url(../images/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
	background: url(../images/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
	background: url(../images/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
	background: url(../images/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
	background: url(../images/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
	background: url(../images/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
	background: url(../images/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
	background: url(../images/patterns/overlay10.png) repeat;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #434648;
}
.camera_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_commands, .camera_thumbs_cont {
	background: #d8d8d8;
	background: rgba(216, 216, 216, 0.85);
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
	border-color: 1px solid #000;
}
.slideshow_block{margin-bottom:1em;}
.slideshow_block.fullwidth_slideshow{margin-bottom:0;}
.slideshow_block.fullwidth_slideshow .camera_prev:hover img{left:6em;}
.slideshow_block.fullwidth_slideshow .camera_next:hover img{right:6em;}
.camera_prev img, .camera_next img{visibility:hidden;display: block; position:absolute; z-index: 1; top:0; max-width: none; border:1px solid #999999;}
.slideshow_block.fullwidth_slideshow .camera_prev,
.slideshow_block.fullwidth_slideshow .camera_next{margin-top:-3em;}
.slideshow_block.fullwidth_slideshow .camera_prev img{left:0;}
.slideshow_block.fullwidth_slideshow .camera_next img{right:0;}
.slideshow_block.fullwidth_slideshow .camera_prev:hover img, .slideshow_block.fullwidth_slideshow .camera_next:hover img{visibility:visible;}
.slideshow_block.fullwidth_slideshow .camera_prev i,
.slideshow_block.fullwidth_slideshow .camera_next i{font-size:6em;display:inline-block;color:#fff;background:#555555;border:1px solid #555555;position: relative; z-index: 2;
transition:			all 200ms ease-in-out;
-moz-transition:	all 200ms ease-in-out;
-ms-transition:	    all 200ms ease-in-out;
-webkit-transition:	all 200ms ease-in-out;
-o-transition:		all 200ms ease-in-out;  
}
.slideshow_block.fullwidth_slideshow .camera_prev:hover i,.slideshow_block.fullwidth_slideshow .camera_next:hover i{background:#999999;border-color:#999999;}
.fullwidth_slideshow .camera_next{right:100px;}
.fullwidth_slideshow .camera_prev{left:100px;}

.camera_prev, .camera_next,
.camera_prev img, .camera_next img{
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition:  all 250ms ease;
    -o-transition:  all 250ms ease;
    transition:  all 250ms ease;
}

.slideshow_block .camera_prev,
.slideshow_block .camera_next{margin-top:-2em;}
.slideshow_block .camera_prev i,
.slideshow_block .camera_next i{font-size:4em;display:inline-block;color:#fff;background:#555555;}
.slideshow_block .camera_prev:hover i,
.slideshow_block .camera_next:hover i{background:#999999;color:#ffffff;}

.slideshow_block.small_slideshow .camera_prev i,
.slideshow_block.small_slideshow .camera_next i{background:#999999;}
.slideshow_block.small_slideshow .camera_prev:hover i,
.slideshow_block.small_slideshow .camera_next:hover i{background:#555555;}

.small_slideshow .camera_next,.small_slideshow .camera_next.hoverd{right:10px;top:auto;margin-top:0;bottom: 10px;}
.small_slideshow .camera_prev,.small_slideshow .camera_prev.hoverd{left:auto;right:68px;top:auto;margin-top:0;bottom: 10px;}
