#st_mega_menu_container{}
#st_mega_menu_wrap{position:relative;display:block;margin-top:0;}
#st_mega_menu{position: relative;z-index: 60;}
.sttlevel0{float:left;}
#st_mega_menu .ma_level_0{font-size: 1.333em;height:2em;line-height:2em;padding:0 14px;display:block;text-transform: uppercase;position:relative;}
.ma_level_0{color:#666666;}
#st_mega_menu .ma_level_0.is_icon_menu{line-height:1.8em;}
#st_mega_menu .ma_level_0.is_parent{padding-right:24px;}
#st_mega_menu .ma_level_0 .icon-home{line-height: 1.6em;}
#st_mega_menu .ma_level_0 .icon-down-dir-2{
    position: absolute;
    right: 10px;
    top: 10px;
    width:12px;height:12px;line-height:12px;font-size:14px;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}
.sttlevel0.current a.ma_level_0 .icon-down-dir-2{
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 68%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 68%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 68%;
    transform: rotate(180deg);
    transform-origin: 50% 68%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    top: 3px\9;
}
.style_wide .ma_level_1{font-size: 1.166em;font-weight:normal; text-transform: uppercase;}
.stmenu_sub{display:none;position:absolute;background:#fff;
border:1px solid #e5e5e5;
font-weight:normal;line-height:150%;
padding:14px 0;
-webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); box-shadow:0 0px 4px rgba(0, 0, 0, 0.1);
}
.stmenu_sub.style_classic .sttlevel1{padding:0 1em;}
.stmenu_sub.style_classic .mllevel1{position:relative;padding-right:14px;}
.stmenu_sub.style_classic .mllevel1 .icon-angle-right{position:absolute;right:0px;width:14px;top:0;}
.stmenu_sub.style_classic .sttlevel1 .mllevel1 a,
.stmenu_sub.style_classic .sttlevel2 .mllevel2 a{font-weight: normal; }
.stmenu_sub.style_classic .sttlevel2{position:absolute;left:-10000px;background:#fff;z-index: 50;padding:1em;border:1px solid #e5e5e5; }
.stmenu_sub.style_classic .sttlevel2 .mllevel2 a{width:230px;}
.stmenu_sub.style_classic .show .sttlevel2{left:150px;top:0;}
.stmenu_sub,.stmenu_sub a{ text-shadow: none;}
.stmenu_container a{display:block;padding:2px 0;}
.stmenu_sub .sttlevel1 .mllevel1{}
.stmenu_sub .sttlevel1 .mllevel1 a{}
.stmenu_sub .sttlevel2{font-weight:normal;}
.stmenu_sub.style_wide .sttlevel2{padding:0px 0 1.333em 0;}
.stmenu_sub .sttlevel2{font-weight:normal;}
.stmenu_sub .sttlevel2 .mllevel2{border:none;}
.stmenu_sub .sttlevel2 .mllevel2 a{font-weight: normal;margin-left:0;}

#stmobilemenu li{ display:block;cursor:pointer; position:relative;}
#stmobilemenu li a.ma_level_0,
#stmobilemenu li li a.ma_level_1,
#stmobilemenu li li li a.ma_level_2,
#stmobilemenu li li li li a.ma_level_3{display:block; cursor:pointer; padding:10px;border-bottom:1px solid #EAE5E1;}
#stmobilemenu li li a.ma_level_1 { padding-left:20px; }
#stmobilemenu li li li a.ma_level_2 { padding-left:35px; }
#stmobilemenu li li li li a.ma_level_3 { padding-left:50px; }

#stmobilemenu .mobile_menu_custom_content .menu_custom_content{padding:10px;border-bottom:1px solid #EAE5E1;}

/* Mobile menu icon */
#stmobilemenu_tri{ text-transform:uppercase; display:block; padding:10px 12px;}
#stmobilemenu_tri span{font-size:1.666em;}


#stmobilemenu { display:block; overflow:hidden; height:auto; max-height:0px; -moz-transition-property:max-height; -moz-transition-duration:500ms; -moz-transition-timing-function:ease-in-out; }
#stmobilemenu.show { max-height:5000px; -moz-transition-property:max-height; -moz-transition-duration:500ms; -moz-transition-timing-function:ease-in-out; background:#F5F5F5;}


.sttlevel0.current { }
.style_wide a.ma_level_0 { }
.ma_level_0:active, .ma_level_0:hover{color: inherit;}
/* .sttlevel0.current .ma_level_0 { color: #fff; background:#00A161; } */
/* FGM color*/
.sttlevel0.current .ma_level_0 { color: #fff; background:#555555; }

.ma_level_1 { color: #666666; }
/* .ma_level_1:hover { color: #00A161; } */
/* FGM color*/
.ma_level_1:hover { color: #555555; }
/* .stmenu_sub.style_classic .show .ma_level_1 { color: #00A161; } */
/* FGM color*/
.stmenu_sub.style_classic .show .ma_level_1 { color: #555555; }
#stmobilemenu_tri { background:#666666; color:#fff; }
#stmobilemenu_tri:hover,
/* #stmobilemenu_tri.active {color: #00A161; } */
/* FGM color*/
#stmobilemenu_tri.active {color: #555555; }

.m_alignment_1,.m_alignment_2{position:relative;}
.m_alignment_0 .stmenu_sub.style_wide,
.m_alignment_1 .stmenu_sub,
.m_alignment_4 .stmenu_sub{left:0;}
.m_alignment_2 .stmenu_sub,
.m_alignment_3 .stmenu_sub{left:auto;right:0;}
