/* block top search */
#search_block_top {display:inline-block;margin-right:4px;}
#search_query_top {
	padding:6px;
	width:250px;
	display:inline-block;
    height:28px;line-height:28px;
    background:#FAFAFA;
    border:1px solid #e5e5e5;
    border-right:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#search_query_block{
	border: 1px solid #e5e5e5;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}
#submit_searchbox{margin:0;display:inline-block;text-align:center;border: 1px solid #e5e5e5; vertical-align: middle;}
.ac_results{border:1px solid #e5e5e5;z-index:70;background:#fff;overflow:hidden;padding:0;}
.ac_odd,.ac_even{background:#fff}
.ac_over{background:#f5f5f5;color:#333;}
.ac_results li{border-bottom:1px solid #f5f5f5;cursor:pointer;padding:4px 5px;}
.ac_results li:last-child{border:0}
.ac_results li img{display:inline-block;border:1px solid #f5f5f5;color:#666666}
.ac_product_name{display:inline-block;vertical-align:middle;width:211px;margin-left:10px;color:#666666}/*-67*/
#ac_search_more{padding:5px 0;text-align:center;}

#searchbox_inner.active #search_query_top{background:#ffffff;}