/* Block tags */
div.tags_block .block_content {}
div.tags_block .tags_wrap {
	text-align: justify;
}
div.tags_block .tags_wrap a {
	margin: 0 0.1em;
	line-height: 1.5em;
	padding:2px;
}
div.tags_block .tags_wrap a:hover {
	text-decoration: none;
}
a.tag_level3 { font-size: 1.333em;}
a.tag_level2 { font-size: 1.166em }
a.tag_level1 { font-size: 1em;}
