#primary_block{padding-top:20px;margin-bottom:0;}
#module-stquickview-default{background:#ffffff;}
#module-stquickview-default #page_wrapper{box-shadow:none;}
#module-stquickview-default .container{width:724px\9; }
#module-stquickview-default #primary_block #pb-right-column{width:290px\9; }
#module-stquickview-default #primary_block #pb-left-column{width:414px\9; }