/*--
	Theme Name: theme_5711
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.4+ from Template-Help.com Collection
	Author: Template_Help.com 
	Author URL: http://www.Template-Help.com/ 
--*/
/* General
---------------------------------------- */
@charset utf-8;
/*@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
*/
@import "css/reset.css";
/*@import "css/grid.css";
@import "css/fancybox.css";*/
body{
	position: absolute;	
	width: 100%;
	height: 100%;
	min-width: 1010px;
	min-height: 890px;
	background:#f6f3ee;
	color: #626262;
	font:12px/21px "Arial", sans-serif;
}
#wrapper{
	position: absolute;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	height: 100%;
}
#spinnerBG{
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background:#0c0b10 url("images/webSiteLoader.gif") center no-repeat;
}
/*-------------logo------------*/
#wrapper>header{
    position: relative;
    z-index: 10;
    display: inline-block;
    left: -470px;
    margin-left: 50%;
}
#logo{
	height: 186px;
	width: 223px;
	margin-bottom: 50px;
	margin-left:-150px;
	overflow: hidden;
}
#logo>a{
	display: block;
	overflow: hidden;
	margin: 15px 0 0 0px;
}
#logoText{
	background: url("images/logo_part.png") 0 0 no-repeat;
	color:#fcfbf9;
	font: 32px "Voltaire", sans-serif;
	width: 207px;
	height: 162px;
	padding: 110px 0px 0 21px;
	text-decoration: none;
}
#logoText:hover{
	color:#fcfbf9;
}
#logoSlogan{
	color: #692312;
	font: 11px "Arial", sans-serif;
	margin: -121px 0 45px 39px;
}
#logoImg{
	/*
width: 234px;
	height: 234px;
*/
	width: 224px;
	height: 87px;
}
#slogan{
    position: absolute;
    top: -225px;
    right: 0;
    color: #3c3432;
    font:60px "Signika Negative", sans-serif;
    width: 572px;
    line-height: 53px;
    letter-spacing: -3px;
}
#slogan>span{
	color: #5e8b7f;
}
/*-------------Menu------------*/
#menuWrapper{
	position: absolute;
	width: 100%;
	height: 45px;
	top: 30px;
	z-index: 3;
	background: url("images/menu-part.png") center 0 ;
}
.menu-menu-container{
	width: 941px;
	margin: 0 auto;
	margin-left:240px;
}
#mainMenu{
	position: relative;
	padding-top: 2px;
	float: right;
}
#mainMenu>li{
    display: inline-block;
    float: left;
   	border-right: 1px solid #3E3D3B;
}
#mainMenu>li:first-child{
	border-left: 1px solid #3E3D3B;
}
#mainMenu>li>a{
	display: block;
	padding: 9px 19px;
	text-transform: uppercase;
	font: 18px "Voltaire", sans-serif;
	text-align: center;
	position: relative;
	color: #fff;
	z-index: 1;
	text-decoration: none;
}
#mainMenu>li>a:hover .itemText{    
	text-shadow: 1px 1px 1px #ce2d1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.itemText{
    position: relative;
    z-index: 1;
}
.over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 53px;
	z-index: 0;
	background: url("images/menu_button.png") center 0 ;
	margin-top: -6px;
}
/*-------------Sub Menu------------*/
.sub-menu{
    position: absolute;
    margin-top: 7px;
    z-index: 0;
    width: 110px;
}
.sub-menu>li{
    background:url(images/sub_menu_bg_1.png);
	margin-bottom:3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.sub-menu>li>a{
	position: relative;
	display: block;
	padding: 8px 14px;
	text-transform: uppercase;
	font: 14px "Voltaire", sans-serif;
	color: #fff;
	text-align: left;
	/* white-space: nowrap; */
	text-decoration: none;
}
.overSubItem{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f3f0d0;
	top: -1px;
	left: 0px;
}
.sub-menu .sub-menu{
	margin-top: -30px;
	margin-left: 111px;
	background: url(images/sub_menu_bg_2.png);
}
/*-------------Gallery------------*/
#galleryHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#imageHolder{
	position: fixed;
	width: 100%;
	height: 100%;
}
#imgSpinner{
	position: absolute;
	top: 0;
	z-index: 10;
	width: 30px;
	height: 30px;
	/* background: url("images/loader_bg.png") 0 0 no-repeat; */
	margin: 20px 0 0 0;
}
#imgSpinner>div{
	margin: 3px 0 0 3px;
	width: 24px;
	height: 24px;
/* 	background: url("images/loader.gif") 0 0 no-repeat; */
}
.topImg{
	position: fixed;
	z-index: 1;
	background: #000;
}
.bottomImg{
	position: fixed;
	z-index: 0;
	background: #000;
}
#previewHolder{
	z-index: 2;
	top: 50%;
	height: 100px;
	position: absolute;
	width: 940px;
	left: 50%;
	margin-left: -470px;
	margin-top: 158px;
}
#previewHolder ul>li{
	float: left;
	margin-right: 2px;
}
.overGallery{
	background: url("images/gallery_button.png") 0 -16px no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
}
.outGallery{
	background: url("images/gallery_button.png") 0 0 no-repeat;
	width: 16px;
	height: 16px;
}
#galleryDiscription{
    position: absolute;
    top: 80%;  /*FGM     top: 50%; */
    left: 50%;
    margin-top: -48px;
    margin-left: -469px;
    z-index: 6;
}
#galleryDiscription>li{
    position: absolute;
	
    width: 940px;
}
.slogan_1{
    color: #fff;
    font: 48px "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: -9px;
    text-shadow: 1px 1px 3px #575854;
    margin-top: 120px;
}
.slogan_2{
    color: white;  
   /*  font: 28px "Arial", sans-serif;  text-transform: uppercase; */
	font: 28px "Arial", sans-serif;
    letter-spacing: 0px;
    margin-bottom: -5px;
    text-shadow: 1px 1px 3px #575854;
}
/*-------------Content-----------*/
/*-------------Content Wrapper-----------*/
#backToTop{
	position: fixed;
	padding: 11px 10px;
	bottom: 45px;
	left: 50%;
	cursor: pointer;
	z-index: 1000;
	background: url("images/menu_button.png");
	margin-left: 454px;
	border: 1px solid #C55333;
}
#backToTop>div{
	background: url(images/up-arrow.png) center no-repeat;
	width: 25px;
	height: 23px;
	position: relative;
	top: 0px;
}
#pageSpinner{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 85px;
	height: 105px;
	background: #0C0B10 url("images/webSiteLoader.gif") 0 0 no-repeat;
	margin: -45px;
}
#pageList{
    margin: 3px 0 0 -19px;
}
#pageList>article{
	position: absolute;
	padding: 35px 11px 35px 21px;
	width: 968px;
	background: url("images/content_part.png");
	left: 0;
	margin-bottom: 30px;
	display: table;
}
/*-------------Teg Style-----------*/
h2{
	padding-bottom: 32px;
	/* color: #fff; */
	color: #DA4828;
	font: 25px "Voltaire", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3{
	color: #fff;	
	padding: 0px; /* 0 19px 0; */
	font: 16px "Voltaire", sans-serif;
	text-transform: uppercase;
	line-height: 25px;
}
h3>a{
	color: #DA4828; /* #fff; */	
	text-decoration: none;
}
h3>a:hover{
	color: #e16d54; /* #DA4828; */	
}
h4>a{
	text-decoration: none;
}
h4>a:hover{
	text-decoration: underline;
}
h4{
    padding-bottom: 3px;
    color: #da4828;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}
h5{
	padding-bottom: 43px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
}
p{				
	color: Silver /* dimGray */;
	font-size: 13px;
	padding-bottom: 19px;
	line-height: 19px;
}
a{
	color: #DA4828;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a:hover{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: #fff;
}
/*-------------Class Style-----------*/
.thumbnail{
    float: left;
    margin: 0 23px 16px 0;
    padding: 5px;
    background: #2d2d2d;
    position: relative;
}
.button, .nextpostslink, .previouspostslink, .first, .last{
	display: inline-block;
	padding: 11px 13px 12px;
	background: url("images/button_part.png") 0 0 repeat-x;
	color: #fff;
	font: 11px "Arial", sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	border:1px solid transparent;
	text-decoration: none;
	margin: 10px 1px;
}
.button:hover, .nextpostslink:hover, .previouspostslink:hover, .first:hover, .last:hover{
    border-color: #692312;
    color: #000;
}
input.readMore{
    margin-right: 10px;
    height: 27px;
    cursor: pointer;
}
/*-------------Animate Style-----------*/
.animate:hover{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.animate{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
/*-------------Other Style-----------*/
.paddingL{
	padding-left: 30px;
	border-left: 1px solid #1F2022;
}
.paddingLB{
	padding-left: 30px;
}
.marginRNone{
	margin-right:0 !important;
}
.marginT{
    margin-top: 16px;
}
.marginB{
    margin-bottom: 20px; /* 5px; */
}
.fGroup{
    width: 130px;
    float: left;
    margin-right: 23px;
    margin-bottom: 9px;
}
.width_1{
    width: 450px;
    display: inline-block;
}
.group{
    display: inline-block;
}
.group_2{
    display: inline-block;
    margin-top: -6px;
    margin-bottom: 30px;
    width: 275px;
    border-bottom: 1px solid #1F2022;
}
.borderNone{
	border: 0 !important;
}
.color_1{
	color: #fff;
}
/*-------------Fullwidth Page Style-----------*/
.pdf{
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url(images/pdf_icon.png) 0 0 no-repeat;
	float: left;
	margin-right: 10px;
}
.pdf h4{
	text-decoration: underline;	
}
.bg_1{
	color: #fff;
	background: url(images/calendar_bg_1.jpg) !important;	
}
.bg_2{
	color: #3e3e3e;
	background: #fff !important;
}
.bg_3{
	color: #fff;
	background: url(images/calendar_bg_2.jpg) !important;	
}
#classes{
    margin: -6px 0 37px 0;	
    color: #A0A0A0 /* #696969 */;
}
#classes>tbody>tr:first-child{
	border: 0;
	height: 25px;
}
#classes>tbody>tr:first-child >td{
	border: 0;
	background:none;
}
#classes>tbody>tr{
    height: 45px;
	
    text-align: center;
}
#classes>tbody>tr>td:first-child{
	border: 0;
	background:none;
	text-align: left;
	width: 81px;
	padding-top: 8px;
	vertical-align: top;
}
#classes>tbody>tr>td{
	border: 1px solid #505253;
	background: #36393a;
	width: 64px;
	vertical-align: middle;
}
/*-------------Portfolio Style------------*/
.zoom-icon{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000 url(images/over.png) center no-repeat;
}
.folio_2{
    float: left;
    margin: 0 20px 40px 0;
    width: 460px;
}
.folio_3{
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 300px;
}
.folio_4{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 220px;
}
.nomargin{
	margin-right: 0 !important;
}
/*-------------wp-pagenavi Style------------*/
.wp-pagenavi{
    margin: 0px;
    width: 350px;
    color: #878783;
    font: 16px "Signika Negative", sans-serif;
    text-transform: uppercase;
}
.wp-pagenavi a{
	display: inline-block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	white-space: pre;
}
.wp-pagenavi a:hover{
    color: #fff;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.wp-pagenavi .current{
	display: inline-block;
	padding: 9px 5px;
	color: #fff;
	font-weight: normal !important;
	font: 16px "Voltaire", sans-serif;
}
.nextpostslink{
    margin-left: 15px;
}
.previouspostslink{
	margin-right: 15px;
}
.wp-pagenavi .page{
	font: 16px "Voltaire", sans-serif;
	padding: 9px 5px;
	text-decoration: none;
}
.extend{
    padding-top: 10px;
	
    display: inline-block;
}
/*-------------Forms Style------------*/
#commentform .field>input, .wpcf7-form .field input{
	overflow: hidden;
	margin: 0px 0 0px 0px;
	padding: 6px 5px 5px 5px;
	outline: none;
	background: #1f2021;
	color: #A0A0A0 /* #696969 */;
	font: 13px "Arial", sans-serif;
	resize: none;
	border: 0;
	height: 19px;
}
#commentform textarea, .wpcf7-form textarea{
	overflow: hidden;
	margin: 0;
	padding: 5px 5px 5px 5px;
	outline: none;
	background: #1f2021;
	color: #A0A0A0 /* #696969 */;
	font: 13px "Arial", sans-serif;
	resize: none;
	width: 100%;
	height: 159px;
	border: 0;
}
select.wpcf7-form-control.wpcf7-select{
	overflow: hidden;
	margin: 0;
	padding: 0;
	outline: none;
	background: #1f2021;
	color: #A0A0A0 /* #696969 */;
	font: 13px "Arial", sans-serif;
	resize: none;
	width: 100%;
	height: auto;
	border: 0;
}
select.wpcf7-form-control.wpcf7-select option {
	padding:5px;
	border-bottom:1px solid #000;
}
small{
	font-size: 75%;
}
#msg{
	color: red;
	margin-bottom: 5px;
}
.field>label{
	text-align: right;
	width: 59px;
	display: inline-block;
}
#submit{
}
.field{
	padding-bottom: 10px ;
}
/*-------------Contact Forms Style------------*/
.wpcf7-form>.field input{
	width: 100%;
}
.bInline{
	display: inline-block;
	width: 100%;
}
span.wpcf7-form-control-wrap{
}
.submit-wrap{
    margin-top: 3px;
}
.wpcf7-form{
	width: 360px;
}
/*-------------Search Forms Style------------*/
#searchform>.searching{
	overflow: hidden;
	padding: 6px 5px 5px 5px;
	outline: none;
	background: #1f2021;
	color: #fff;
	font: 13px "Arial", sans-serif;
	resize: none;
	border: 1px solid transparent;
	width: 190px;
	height: 17px;
	float: left;
	margin-right: 1px;
	margin-bottom: 53px;
}
.buttonSearh{
	width: 34px;
	height: 30px;
	background: url(images/button_search.png) 0 0 no-repeat;
	border: 1px solid #000;
	cursor: pointer;
	text-indent: 170%;  white-space: nowrap;
	overflow: hidden;
	margin-right: -5px;
}
.buttonSearh:hover{
	border: 1px solid #fff;
}
.errorInput{
	border: 1px solid red !important;
}
/*-------------Coment Forms Style------------*/
#respond{
	margin-top: 46px;
}
#commentform{
	width: 560px;
	overflow: hidden;
}
#commentform>.field>input{
	width: 270px;
}
.formT{
	width: 560px;
}
/*-------------Comment List Style------------*/
.commentlist{
	list-style: none;
	width: 600px;
}
.comment-body{
	position: relative;
	overflow: hidden;
	background: #1F2021;  
	padding: 16px 19px;
}
.vcard{
    margin: 4px 21px 0 0;
}
.comment .children{
    margin: 25px 0 25px 20px;
}
.comment{
    margin-bottom: 25px;
}
.fn>a:first-letter, .fn:first-letter{
	text-transform: uppercase;
}
.fn>a, .fn{
	color: #5e8b7f;	
	font-size: 13px;
	line-height: 18px;	
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 5px 0 0 0;
}
.comment-meta{
    margin: 0px 0 24px;
}
.reply{
	float: right;
}
.comment-body>p{
	display: table-cell;
	padding-bottom: 23px;
}
/*------------Blog------------*/
.post-meta{
    margin: 0px 0 20px 0px;
}
.post-meta a{
	color: Silver /* dimGray */;
	text-decoration: none;
}
.post-meta a:hover{
	color: #fff;
}
.entry-header{
    margin-top: -4px;	
    overflow: hidden;
}
.entry-header>h3{
    padding: 0;
} 
.categoryPost{
    display: inline-block;
    background: url(images/blog_icon_2.png) 0 4px no-repeat;	
    padding: 0px 0 0 20px;
    margin-right: 4px;
    color: Silver /* dimGray */;
}
.userPost{
    display: inline-block;
    background: url(images/blog_icon_2.png) 0 4px no-repeat;	
    padding: 0px 0 0 20px;
    margin-right: 4px;
}
.userPost>a:first-letter{
	text-transform: uppercase;
}
.comments{
    display: inline-block;
    background: url(images/blog_icon_3.png) 0 4px no-repeat;
    padding: 0px 0 0 20px;
}
.content{
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
}
div.post{
	width: 559px;	
}
article.post{
	margin-bottom: 18px;
	width: 559px;
	padding-top: 2px;
}
article.post footer{
    margin-top: 10px;
}
.postData{
    float: left;
    margin-bottom: 15px;
    color: #878783;
}
.fright{
	float: right;
}
.socialLink{
	margin-bottom: 30px;
}
.socialLink>ul>li{
    display: inline-block;
    margin-right: 0px;
}
.socialLink>h4{
	display: inline-block;
}
.socialLink>ul{
	display: inline-block;
	margin: -8px 0 0 4px;
}
.commentFooter{
    display: inline;
}
.author{
    margin-right: 10px;
    color: #da4828;
}
.author:first-letter{
	text-transform: uppercase;
	text-decoration: underline;
}
/*-------------sidebar------------*/
.widget{
    padding-bottom: 25px;
}
.latestpost>li{
	padding-top: 23px;
	border-top: 1px solid #242425;
}
.latestpost>li:first-child{
	padding-top: 0;
	border: none;
}
.recent-post-meta{
	display: inline-block;
	color: #fff;
}
.recent-comments{	
	float: right;
	display: inline-block;
	margin-right: 20px;
}
.recent-comments>a{
	color: #FFAF00;
}
.recent-comments>a:hover{
	color: #fff;
}
.recent-content{
	display: table-cell;
}
.recent-content>p{
	padding-bottom: 5px;
}
#sidebar h5{
	padding-bottom: 33px;
	font-weight: 500;
	font-size: 18px;
}
.widget h2{
    padding-bottom: 26px;
}
#sidebar{
    width: 280px;
}
.cat-item:first-child{
	border-top:none;
	margin-top: -8px;
}
.cat-item{
    margin-bottom: 10px;
    border-top: 1px solid #242425;
    padding-top: 8px;
}
.cat-item a{
    padding-left: 13px;
    background: url(images/list_arr.png) 0 3px no-repeat;
    color: #A0A0A0 /* #696969 */;
    text-decoration: none;
}
.cat-item a:hover{
	background-position: 5px 3px;
	color: #da4828;
    text-decoration: underline;
}
ul.children {
	margin-top:10px;
	padding-top:8px;
	background:#000;
	border-radius: 3px;
	padding-bottom:2px;
}
ul.children .cat-item a {
	background: none;
}
div.post-content ul {
	list-style: square inside;
	margin: 10px 0;
	color: #A0A0A0;
}
#footer_block_2 li{
    margin-bottom: 9px;
}
#footer_block_3 li{
    margin-bottom: 9px;
}
/*-------------contacts------------*/
.contacts span{
    display: inline-block;
    width: 71px;
}
.contacts{
	float: left;
	color: Silver /* dimGray */;
}
/*-------------footer------------*/
#footer{
	position: absolute;
	bottom: 0;
	z-index: 10;
	padding: 12px 0 0 0;
	width: 100%;
	height: 33px;
	color: #707277;
	font: 11px "Trebuchet MS", sans-serif;
	background: url("images/footer_part.png") 0 0 repeat-x;
}
#footer_block_1{
	float: right;
	margin: -4px 0;
}
#footer_block_1>div{
	display: inline-block;
}
#footer a{
	text-decoration: none;
	color: #707277;
}
#footer a:hover{
	text-decoration: underline;
	color: #fff;
}
#footerText{
	float: left;
	margin-top: 2px;
}
#centerFooter{
    width: 939px;
    margin: 0 auto;
}
/*-------------flickr------------*/
.flickrImages{
    width: 225px;
}
.flickrImages>h5{
    padding-bottom: 44px;
}
.flickrImages>a{
	display: inline-block;
	overflow: hidden;
	margin: 1px 5px 3px -1px;
	width: 71px;
	height: 71px;
}
/*-------------social-networks------------*/
.social-networks{
    margin: 1px -1px 0 10px;
}
.social-networks>li{
	float: left;
	margin: 0 2px 0 1px;
}
.social-networks>li>a{
	float: left;
}
.social-networks img{
	position: relative;
}
/*-------------textwidget------------*/
.textwidget{
    white-space: pre;
}
/*------------page-404-------------*/
.error404{
	padding: 46px 0;
	color: red;
	font-size: 110px;
}
/*------------recent comments-------------*/
.recentcommentslist{
	margin-top: 3px;
}
.recentcomments{
	overflow: hidden;
	margin-bottom: 13px !important;
}
.recentcomments>img{
    float: left;
    margin: 0 13px 0 0;
}
.recentcomments>h3:first-letter{
	text-transform: uppercase;
}
.recentcomments>h3{
    padding-bottom: 5px;
    line-height: 9px;
}
.recentcomments>small{
    color: #878783;
}
/*------------Calendar-------------*/
#calendar_wrap {
	padding:0;
	}
#wp-calendar {
	width:100%;
}
#wp-calendar caption {
	text-align:center;
	}
#wp-calendar td {
	padding:6px 0;
	border:none;
	text-align:center;
	}
#wp-calendar caption {
	margin-bottom:5px;
	padding:4px 0;
	color: #FFf;
	font-weight:bold;
	font-size:16px;
	}
#wp-calendar thead th {
	padding:7px 0;
	background:#fff;
	color:#000;
	text-align:center;
	font-size:14px;
	}
#wp-calendar #prev {
	text-align:left;
	}
#wp-calendar #next {
	text-align:right;
	}
/*-----*/
.left{
	float: right;
	border-left: 1px solid #1F2022;
	padding-left: 15px;
}
.right{
	float: left;
	border-right: 1px solid #1F2022;
}